@model IEnumerable<CarListingViewModel>


<div class="row">
    @foreach (var car in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="@car.ImageUrl" alt="@car.Make @car.Model - @car.Year (@car.Category)">
                <div class="card-body">
                    <h5 class="card-title">@car.Make @car.Model (@car.Year)</h5>
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }

</div>